<div class="memberz form-container container-fluidx" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="members()" class="basic-btn">Home</button>
    <button (click)="favz()" class="basic-btn">Favorites</button>
    <button (click)="about()" class="basic-btn">About</button>
  </header>
  <div id="mccheese_background">
    <!--<div id="page" [@moveInLeft]="state">-->
    <div id="logo1">
      <img [@fallIn]="state" id=logo src="assets/images/logo3.png"/>
    </div>
    <!--<h2 class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the Recipes.</h2><br>-->
    <!--</div>-->
  </div>
  <h2 [@moveInLeft]="state" class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the
    Recipes.</h2><br>

  <div id="aboutme">
    <h3 [@moveInLeft]="state"> Welcome to the about page.</h3>
    <p [@fallIn]="state">
      This app was created by Austin Fashimpaur, Bryce Groesbeck and Kevin Kirkman.
      This app is dedicated to our love of food.
    </p><br>
    <div class="scroll-me">
      <div>
        <ul class="feedback">
          <li>
            <blockquote>"your app astonished me, looking like a good crafted and professional application. Also, details
              are
              important being able to login with google+ and graphics are looking attractive" - NMA
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"I really like this app it is user friendly and I like that I don't have to make up another
              login
              for it, I can just use my google login. The Images are great and I like the wide arrange of recipes that I
              can use. I also liked the fact that I could save favorites and go to that list quickly. Very good app." -
              JSN
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"I like this app, it is something I can see myself using. I like that I can login however I want
              and favorite things" - JJG
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"The interface and animations are attractive and modern while still feeling clean and
              professional." - MBT
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"Looks good, good job" - CEW
            </blockquote>
          </li>
          <li>
            <blockquote>"This looks like a tasteful site to use" - CLP
            </blockquote>
          </li>
          <li>
            <blockquote>"I liked the options to add to a Favorites list. The style and organization was great as well.
              It seems well thought-out, and has practical use, especially with the option to save to a Favorites list,
              for people wanting to keep track of recipes." - MJC Verified
            </blockquote>
          </li>
          <li>
            <blockquote>
              "I'd like some more tabs to be able to sort my food better even in my favorites tab id like a tab for each meal like breakfast and dinner but also an all tab or maybe even a random button to enjoy a random treat." - RKH
            </blockquote>
          </li>
          <li>
            <blockquote>
              "Actually very nicely done. I love the pictures. They entice me to want to try the recipes. I would only add a concordance to make it a little easier to find specific types of food. Nice job." - LB
            </blockquote>
          </li>
          <li>
            <blockquote>
              "I like it. It is visually pleasing and well laid out." - LWF
            </blockquote>
          </li>
          <li>
          <blockquote>
          "I like the site and it’s very user friendly, with recipes I would definitely make." - SS
          </blockquote>
        </li>
          <li>
            <blockquote>
            "A tasty photo greets the you at the login, but improvement to the main login to identify what this website is for is a must.  Within the website, a filter option with breakfast, lunch, dinner, snacks, and desserts as well as types of foods (e.g. Asian, BBQ, Mexican, etc.) would be the icing on this treat of a site " An option to add your own recipe would be the extra seasoning this website needs. A great and useful idea for a page.  Selling advertising space for grocery stores near the user would be useful too, especially if the ingredients in a recipe could be automatically put into a shopping cart from a nearby store. - JPB
            </blockquote>
          </li>
          <li>
            <blockquote>
            "This looks really good.,A couple minor things,  the menu jumps around the order depending on the page. It would be difficult to scale that solution.  I would suggest that nav is fixed. Also, some padding on on bottom of your page for the main content.  That way it will be easier to use. Overall, good job." - JAB
            </blockquote>
          </li>
          <li>
            <blockquote>
            " like the clean look and ease of navigation of the app.  The search bar functionality is great too.  I would have like some way to sort and store recipes by category/type through. " - TH
            </blockquote>
          </li>
          <li>
            <blockquote>
"My first impression was that it’s kind of like a simplified/narrow version of Pinterest; which is a good thing.  I like that the pictures are big and you can clearly see the end result." - NL
            </blockquote>
          </li>
          <li>
            <blockquote>
              "I like the app.  It works well. I was wondering if you could add more searchable options like "pasta" or "desserts" or "Mexican", and the avocado is awesome" - TAP
            </blockquote>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
