<div class="memberz form-container container-fluidx" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="favz()" class="basic-btn">Favorites</button>
    <button (click)="members()" class="basic-btn">Home</button>
  </header>
  <div id="mccheese_background">
    <!--<div id="page" [@moveInLeft]="state">-->
    <div id="logo1">
      <img [@fallIn]="state" id=logo src="../assets/images/logo3.png"/>
    </div>
    <!--<h2 class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the Recipes.</h2><br>-->
    <!--</div>-->
  </div>
  <h2 [@moveInLeft]="state" class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the
    Recipes.</h2><br>

  <div id="aboutme">
    <h3 [@moveInLeft]="state"> Welcome to the about page.</h3>
    <p [@fallIn]="state">
      This app was created by Austin Fashimpaur, Bryce Groesbeck and Kevin Kirkman.
      This app is dedicated to our love of food.
    </p><br>
    <div class="scroll-me">
      <div>
        <ul class="feedback">
          <li>
            <blockquote>"your app astonished me, looking like a good crafted and professional application. Also, details
              are
              important being able to login with google+ and graphics are looking attractive" - NMA
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"I really like this app it is user friendly and I like that I don't have to make up another
              login
              for it, I can just use my google login. The Images are great and I like the wide arrange of recipes that I
              can use. I also liked the fact that I could save favorites and go to that list quickly. Very good app." -
              JSN
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"I like this app, it is something I can see myself using. I like that I can login however I want
              and favorite things" - JJG
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"The interface and animations are attractive and modern while still feeling clean and
              professional." - MBT
            </blockquote>
          </li>
          <br>
          <li>
            <blockquote>"Looks good, good job" - CEW
            </blockquote>
          </li>
          <li>
            <blockquote>"This looks like a tasteful site to use" - CLP
            </blockquote>
          </li>
          <li>
            <blockquote>"I liked the options to add to a Favorites list. The style and organization was great as well.
              It seems well thought-out, and has practical use, especially with the option to save to a Favorites list,
              for people wanting to keep track of recipes." - MJC Verified
            </blockquote>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>
