<div class="memberz form-container container-fluidx" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="favz()" class="basic-btn">Favorites</button>
    <button (click)="members()" class="basic-btn">Home</button>
  </header>
  <div id="mccheese_background">
    <!--<div id="page" [@moveInLeft]="state">-->
    <div id="logo1">
      <img [@moveInLeft]="state" id=logo src="../../assets/images/logo3.png"/>
    </div>
    <!--<h2 class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the Recipes.</h2><br>-->
    <!--</div>-->
  </div>
  <h2 [@moveInLeft]="state" class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the Recipes.</h2><br>

  <div id="aboutme">
  <h3 [@moveInLeft]="state"> Welcome to the about page.</h3>
  <p [@fallIn]="state">
    This app was created by Austin Fashimpaur, Bryce Groesbeck and Kevin Kirkman.
    This app is dedicated to our love of food.
  </p>
</div>

</div>

