

<div class="form-container">

  <!--<h3 id="header">Welcome to Git Grub!</h3>-->
  <img class="logo" src="../assets/images/logo3.png" id="logo">
  <img src="../assets/images/avocado.gif" id="mccheese">

    <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginGoogle()" id="google">Login with Google</button>
  <button routerLink="/login-email" id="email">Login with Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
  <!--<p id="verified">This App is MJC Verified</p>-->
</div>
