<div class="memberz form-container container-fluidx" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
    <button (click)="members()" class="basic-btn">Home</button>
    <button (click)="about()" class="basic-btn">About</button>
  </header>
  <div id="mccheese_background">
    <!--<div id="page" [@moveInLeft]="state">-->
    <div id="logo1">
      <img [@moveInLeft]="state" id=logo src="../../assets/images/logo3.png"/>
    </div>

  </div>
  <h2 [@moveInLeft]="state" class="banner">Hey {{ name.auth.displayName || 'Friend' }}, Welcome to Git Grub! Enjoy the Favorites.</h2><br>

  <!--content-->
  <div class="scroll-me">
    <div class="center-me">
      <div class="wellz well col-sm-1 col-md-3" [@fallIn]="state" *ngFor="let recipe of recipes | async">
        <img class="pics" src="{{ recipe.image_url }}"/><br>
        <div class="bottomPart">
          <h5 class="col-sm-9"><a href="{{ recipe.source_url }}">{{ recipe.title }}</a></h5><br>
          <span class="trash glyphicon glyphicon-trash col-sm-3" title="Remove from Favorites" (click)="removeFavs(recipe)"></span>
        </div>
      </div>
    </div>
    <toaster-container></toaster-container>
  </div>

</div>

