
#logo {
  margin: 0 auto;
  text-align: center;
}

#logo:hover {
  transform: rotate(360deg) scale(1.1);
}

#toolbar {
  padding: 0;
  width: 70%;
  margin-left: -35%;
}

.banner {
  text-align: center;
}

header {
  background: lightgray;
  width: 100%;
  border-radius: 4px;
}

.basic-btn {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

#page {
  padding: 3em;
  margin: 0;
}

#page img {
  margin-top: 30px;
}

h2 {
  margin: 0;
}

@media (max-width: 600px) {
  #page {
    padding: 1em;
  }

  #toolbar {
    width: 90%;
    margin-left: -45%;
  }
}

.scroll-me {
  display: inline-block;
  overflow-y: scroll;
  height: calc(100vh - 375px);
  /*margin: 0 auto;*/
  width: 100%;
  background: lightgray;
  border-radius: 4px;
}

.center-me {
  margin: 0 auto;
  width: 900px;
}

.glyphicon {

  color: #FF7878;
  font-size: 25px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.glyphicon:hover {
  transform: rotate(360deg) scale(2);

}


.form-group {
  width: 55%;
  margin: 16px auto;
}

#mccheese_background {
  background-image: url('../../assets/images/stuff.jpg');
  color: #515151;
  border-radius: 4px;
  background-size: cover;
  height: 140px;
  margin: 0 auto;
  text-align: center;

}

.banner {
  margin-top: 30px;
}

.scroll-me {
  display: inline-block;
  overflow-y: scroll;
  height: calc(100vh - 375px);
  /*margin: 0 auto;*/
  width: 100%;
  background: lightgray;
  border-radius: 4px;
}
