#logo {
  margin: 0 auto;
  text-align: center;
}

#toolbar {
  padding: 0;
  width: 70%;
  margin-left: -35%;
}

.banner {
  text-align: center;
}

header {
  background: lightgray;
  width: 100%;
  border-radius: 4px;

}

.basic-btn {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

#page {
  padding: 3em;
  margin: 0;
}

#page img {
  margin-top: 30px;
}

h2 {
  margin: 0;
}

@media (max-width: 600px) {
  #page {
    padding: 1em;
  }

  #toolbar {
    width: 90%;
    margin-left: -45%;
  }
}

.scroll-me {
  display: inline-block;
  overflow-y: scroll;
  height: calc(100vh - 375px);
  /*margin: 0 auto;*/
  width: 100%;
  background: lightgray;
  border-radius: 4px;
}

.center-me {
  margin: 0 auto;
  width: 900px;
}

.glyphicon {

  color: #FF7878;
  font-size: 25px;
}

/*.glyphicon glyphicon-fire{*/
/*color: orangered;*/
/*font-size: 50px;*/

/*}*/

.form-group {
  width: 100%;
  margin: 0 auto;
  padding: 14px;
}
.form-control {
  width: 55%;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0px 1px 2px 0px #909090;
  text-align: center;
}

#mccheese_background {
  background-image: url('../../assets/images/stuff.jpg');
  color: #515151;
  border-radius: 4px;
  background-size: cover;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 3px 5px 0px #909090;


}

.banner {
  margin-top: 30px;
}
